<!doctype html>
<html lang="ru">
  <head>
    <!-- @include ../content/head.html -->
  </head>
  <body>
    <!-- @include ../content/header.html -->
    <main id="main">
      <!-- @include ../content/sections/hero.html -->
      <!-- @include ../content/sections/metrics.html -->
      <!-- @include ../content/sections/history.html -->
      <!-- @include ../content/sections/valerik.html -->
      <!-- @include ../content/sections/sport.html -->
      <!-- @include ../content/sections/book.html -->
      <!-- @include ../content/sections/hurman.html -->
      <!-- @include ../content/sections/worldview.html -->
      <!-- @include ../content/sections/work.html -->
      <!-- @include ../content/sections/digital.html -->
      <!-- @include ../content/sections/timeline.html -->
      <!-- @include ../content/sections/media.html -->
      <!-- @include ../content/sections/now.html -->
      <!-- @include ../content/sections/contact.html -->
    </main>
    <!-- @include ../content/footer.html -->
  </body>
</html>
